

.content{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 60%;
    margin-left: 40%;
    margin-right: 40%;
}
#pair{
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 25px -19px 5px 0px rgb(241, 159, 70);
    -moz-box-shadow: 25px -19px 5px 0px rgb(241, 159, 70);
    box-shadow: 25px -19px 5px 0px rgb(241, 159, 70);
    border-radius: 5%;
}

#description{
    background-color: rgb(241, 159, 70);
    color: black;
    text-align: center;
    border-radius: 5%;
    margin-top: 5%;
}
#description:hover{
    background-color: aquamarine;
    transition: 0.5s;

}
#category{
    background-color: aquamarine;
    color: black;
    text-align: center;
    border-radius: 5%;
    margin-top: 5%;
}
#category:hover{
    background-color: rgb(241, 159, 70);
    transition: 0.5s;
}




