<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/subStyle.css"></link>

    <title th:text="${skateType.skateType}">Pair of Skates</title>
</head>
<body>
<div class="background">
    <header>
        <h1 th:text="${skateType.skateType}">Skate Type</h1>
    </header>
    <main>
        <nav class="nav">
            <ul>
                <li><a href="/skates">All Skates</a></li>
                <li><a href="/categories">Skates by Category</a></li>
            </ul>
        </nav>
        <section class="contentType">
            <article id="typeDescription">
                <h2>Type Function</h2>
                <h3 th:text="${skateType.description}"></h3>
            </article>

        </section>
            <article id ="categorySkates">
                <h2>Skates in Category</h2>
                <a th:each="skates: ${skateType.skates}" th:href="@{/skater(id=${skates.id})}" >
<!--                <h3 th:each="skateModel:${skateType.skates}"></h3>-->
                    <img id="skates" th:src="${skates.image}" />
                </a>
            </article>

    </main>
    <footer>
        <img id="logo" th:src="@{/images/logo.jpg}" />
        <small>&copy A Silver Cloud 2020</small>
    </footer>
</div>
</body>
</html>