<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css"></link>
    <title>Skate Reviews Site</title>
</head>
<body>
<div class="background">
<header>
    <h1>Roller Skates: A Review</h1>
</header>
<main>
<!--    <nav class="nav">-->
<!--    <ul>-->
<!--        -->
<!--    </ul>-->
<!--    </nav>-->
    <section class="images">
<!--        <article id="text" th:each="skates: ${skatesModel}"><a th:href="@{/skater(id=${skates.id})}" th:text="${skates.name}" ></a><article>-->
    <a th:each="skates: ${skatesModel}" th:href="@{/skater(id=${skates.id})}" >
        <h3 id="text" th:text="${skates.name}"></h3>
        <img id="skates" th:src="${skates.image}" />
    </a>
    </section>
</main>
<footer>
    <img id="logo" th:src="@{/images/logo.jpg}" />
    <small>&copy A Silver Cloud 2020</small>
</footer>
</div>
</body>
</html>